<h2>Form</h2>
<%= form_for @recipe do |f| %>
  <%# f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 4, :cols => 50 %>
  </p>
  <h3>Ingredients</h3>
  <ol>
    <%= f.fields_for :ingredients do |ing| %>
      <li>
        <%= ing.label :name %>
        <%= ing.text_field :name, :size => 50 %>
        <%= ing.check_box :_destroy %>
        <%= ing.label :_destroy, 'delete' %>
      </li>
    <% end %>
  </ol>
  <p>
    <%= f.submit 'Add ingredient', :name => "add_ingredient"    %>
    <%= f.submit 'Delete checked', :name => "remove_ingredient" %>
    <%= f.submit %>
    <%= link_to 'back', recipes_path %>
  </p>
<% end %>
