<h1>Recipes#index</h1>
<p>Find me in app/views/recipes/index.html.erb</p>
<ul>
  <% @recipes.each do |recipe|  %>
    <%= link_to recipe.name.capitalize, recipe %>: <%= recipe.description %>
  <% end %>
</ul>
<%= link_to 'Nova', new_recipe_path %>
