<h1>Recipes#show</h1>
<p>Find me in app/views/recipes/show.html.erb</p>
<h2><%= @recipe.name.capitalize %></h2> <%= link_to 'Edit', edit_recipe_path(@recipe) %>
<p><%= @recipe.description %><p/>
<h3>Ingredients:</h3>
<ol>
  <% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
  <% end %>
</ol>
